#canvasContainer {
  position: relative;
  width: 300px;
}

#canvas {
  z-index: 1;
}

#arrowdown {
  position: absolute;
  left: 580px;
  top: 0px;
  z-index: 999;
  max-width: 40px;
  height: auto;
}

#spinBtn {
  position: absolute;
  left: 550px;
}
